::selection {
    color: #fff;
    background: #077920;
  }
  
body::-webkit-scrollbar{ width: 7px; }
body::-webkit-scrollbar-thumb{
    background: #077920;
    border-radius: 4px;
}

.card__content{
    overflow: hidden;
}

.card__img{
    transform: scale(1);
    transition: all 0.2s ease-in-out;
}

.card__img:hover{
    transform: scale(1.03);
}